---
import Image from "astro/components/Image.astro";
import logo from "../images/logo-small.png";
---

<header>
  <a href="/"
    ><Image
      class="logo"
      src={logo}
      alt="Logo"
      width="40"
      densities={[1.5, 2]}
    /></a
  >

  <nav>
    <!-- <Hamburger /> -->
    <ul class="nav-links">
      <a class="duplicate" href="/"><li>Home</li></a>
      <a href="/about/"><li>About</li></a>
      <a href="/blog/"><li>Blog</li></a>
      <a href="/tags/"><li>Tags</li></a>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: light-dark(
      var(--color-primary-lightmode),
      var(--color-primary-darkmode)
    );
    padding: 0 2ch;
  }
  .logo {
    margin: 0.5rem;
    filter: invert(1);
    @media (prefers-color-scheme: dark) {
      filter: invert(0);
    }
  }
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 1ch 2ch;
  }
  a,
  a:visited {
    text-decoration: none;
    color: light-dark(
      var(--color-on-primary-lightmode),
      var(--color-on-primary-darkmode)
    );
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .duplicate {
      display: none;
    }
    li {
      padding: 1ch 1.5ch;
    }
  }
</style>
