---
interface Props {
  tags: string[];
}
const { tags } = Astro.props;
---

<div>
  Tags:
  {
    tags.map((tag) => (
      <a href={`/tags/${tag}`}>
        <p>{tag}</p>
      </a>
    ))
  }
</div>

<style>
  a,
  a:visited,
  a:hover,
  a:active {
    color: light-dark(
      var(--color-primary-lightmode),
      var(--color-primary-darkmode)
    );
    text-decoration: none;
  }

  div {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
  }

  p {
    height: 28px;
    margin: 0.25em;
    border: dotted 1px
      light-dark(var(--color-primary-lightmode), var(--color-primary-darkmode));
    border-radius: 0.5em;
    padding-inline: 1em;
    align-content: center;
    font-size: 0.85em;
    background-color: light-dark(
      var(--color-surface-lightmode),
      var(--color-surface-darkmode)
    );
  }

  p:hover {
    color: light-dark(
      var(--color-surface-lightmode),
      var(--color-surface-darkmode)
    );
    background-color: light-dark(
      var(--color-primary-lightmode),
      var(--color-primary-darkmode)
    );
  }
</style>
