---
import TagChips from "../components/TagChips.astro";
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";
interface Props {
  frontmatter: {
    title: string;
    pubDate: Date;
    description: string;
    author: string;
    tags: string[];
  };
}
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    Published {frontmatter.pubDate.toISOString().slice(0, 10)} by <a
      href="https://github.com/FrancisUsher">Francis Usher</a
    >
  </p>
  <p><em>{frontmatter.description}</em></p>
  <p><TagChips tags={frontmatter.tags} /></p>
  <slot />
</BaseLayout>
